.cursor {
    position: fixed;
    top: 40%;
    left: 40%;
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
}
