.controls {
    width: 60%;
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
}

.control {
    position: relative;
    border-radius: 50%;
    border: 1px solid #1C6EA4;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
    cursor: pointer;
}

.topForms {

}

.topForms {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 10px;
    color: var(--accent);
}
